          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
              
              {%- assign news = site.news | reverse -%}

              <div class="grid">
              {% for item in news limit: news_limit %}
                <div class="grid-sizer"></div>
                <div class="grid-item">
                  
                      <div class="card hoverable">
                        {%- if item.img %}
                        <a href="{{ item.redirect }}">
                        {%- include figure.html
                          path=item.img
                          alt="project thumbnail" -%}
                        <div class="card-body"> 
                          <p class="card-text"><b>{{ item.date | date: "%b %-d, %Y" }}</b><br>{{ item.description }}</p>
                          <div class="row ml-1 mr-1 p-0">
                          </div>
                        </div>
                        </a>
                        {%- else %}
                        <a href="{{ item.redirect }}">
                          <iframe src="{{item.redirect}}" 
                          id="cbsNewsVideo" allowfullscreen allow="fullscreen" 
                          frameborder="0" width=250px height=auto></iframe>

                          <div class="card-body"> 
                            <p class="card-text" style="margin-top: -1rem;"><b>{{ item.date | date: "%b %-d, %Y" }}</b><br>{{ item.description }}</p>
                            <div class="row ml-1 mr-1 p-0">
                            </div>
                          </div>
                          </a>
                        {%- endif %}
                      </div>
                </div>
                {%- endfor %}
              </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>